/**
* Created custom style sheet to apply some style overrides
* to the MUI icon button specifically for this component
*/

.active {
  color: #1878f2 !important;
}

.active::after {
  display: block;
  position: absolute;
  left: -54%;
  bottom: -5px;
  content: '';
  width: 100px;
  height: 3px;
  background-color: #1878f2 !important;
}

.navIconContainer {
  max-width: 100%;
  width: 100px;
  height: 60px;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  padding-top: 3px;
}

.navIconContainer:hover {
  background: #f0f2f5;
  cursor: pointer;
}
